<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>
<div class="centered-form">
    <div class="centered-form__box">
        <h1>Login</h1>
        <div class="col-md-12 form-group alert {{type}}">
            <strong>{{message}}</strong>
        </div>
        <form action="/login" method="post">
            <div class="ele"></div>
            <label>User name</label>
            <input type="text" name="username" placeholder="User name" value="User_1" required>
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" value="password" required>
            <button>Join</button>
        </form>
    </div>
</div>
<div>
    <h3>Test user for chat and video call</h3>
    <div>User 1: ID: User_1, Password: password</div>
    <div>User 2: ID: User_2, Password: password</div>
</div>
</body>
</html>